@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
:root
{
    --primary-color : #76c4AE
    ;
}
body
{
    font-family: 'Montserrat', sans-serif;
}

.container
{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.container-center
{
    max-width: 600px;
    margin: auto;
}
.primary-link
{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}
.secondary-link
{
    color: var(--primary-color);
    border: 1px solid var(--primary-color) ;
    border-radius: 00.5rem;
}
.link
{
    padding: 0.5rem 1rem;
    text-decoration: none;
}
